@import "../../app.scss";
.portfolio {
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 40px;
    text-align: center;
    color: orange;
    font-size: 25px;
    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 23px;
    } 
    .progressBar {
      height: 10px;
      background-color: white;
      @include mobile {
        height: 5px;
      }
    }
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to top, #07224a 0%, #150b48 100%);
  @include mobile {
    flex-direction: column;
    transition: none;
  }
}
.wrapper {
  max-width: 966px;
  height: 100%;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  @include mobile {
    flex-direction: column;
  }

  .imageContainer {
    flex: 1;
    height: 50%;
    @include mobile {
      height: 50%;
      max-height: 300px;
      margin-top: 8px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mobile{
      object-fit: contain;
    }
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mobile {
      gap: 20px;
      transform: none !important;
      align-items: center;
    }
    h2 {
      font-size: 50px;
      @include mobile {
        font-size: 40px;
        text-align: center;
      }
    }
    p {
      color: lightgray;
      font-size: 15px;
      @include mobile {
        text-align: center;
        margin-bottom: 50px;
      }
    }
    button {
      background-color: orange;
      height: 30px;
      border: none;
      border-radius: 10px;
      width: 200px;
      cursor: pointer;
    }
  }
}
