@import "../../app.scss";
.contact {
  height: 100%;
  max-width: 966px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  @include mobile{
    flex-direction: column;
    gap: 0px;
    height: 50%;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mobile{
      margin: 22% 10%;
      gap: 15px;
    }
    
    h1 {
      font-size: 80px;
      line-height: 70px;
      @include mobile{
        font-size: 60px;
        text-align: center;
      }
    }
    span {
      font-weight: 100;
    }
  }
  .formContainer {
    flex: 1;
    position: relative;
    @include mobile{
      width: 90%;
    }
    .phoneSVG{
        stroke: orange;
        position: absolute;
        z-index: -1;
        @include mobile{
         display: flex;
         width: 100%;
         justify-content: center;
         margin-left: 9%;
        }
        @include mobile{
          .phone{
            width: 300px;
            height: 300px;
          }
        }
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      input,
      textarea {
        padding: 10px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
      }

      button {
        padding: 10px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
      }
      
    }
    .message{
      display: flex;
      margin-top: 10px;
      font-size: 15px;
    }
  }
}
